<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sign Up page</title>
    </head>
    <body>
        <h1>Hi, Welcome to the signup page</h1>
        <p>Today is {{ CurrentDay }}</p>
    </body>
    <style>
        body {
            background-color: black;
        }
        p,h1{
            text-align: center;
            font-size: larger;
            font-family: 'Times New Roman', Times, serif;
            color: blanchedalmond  ;
        }
    </style>
</html>